.index{
    width: 500px;
    height: 100px;
    align-items: center;
    background-color: rgb(255, 0, 179);
    margin: 10px 10px 10px 10px;
    
    .button{
        background-color: rgb(100, 237, 118);
        width: 100px;
        height: 30px;
    }
}

